<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/products/productForm.css">
    <title>Editando <%=product.name%></title>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <section id="content-container">
            <h1>Editá tu producto:</h1>
            <% if (locals.errors) { %>
                <ul class="errorsList desktopList">
                <% for(let oneError in errors){ %>
                    <li class="errors"><%= errors[oneError].msg %> </li>
                <% } %> 
                </ul>
            <% } %>
            <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <fieldset id="fieldset-small">
                    <legend>
                        <img src="/uploads/products/<%=product.image%>" alt="" id="product-img">
                        <h2><%=product.name%></h2>
                    </legend>
                    <% if (locals.errors) { %>
                        <ul class="errorsList mobileList">
                        <% for(let oneError in errors){ %>
                            <li class="errors"><%= errors[oneError].msg %> </li>
                        <% } %> 
                        </ul>
                    <% } %>
                    <label for="name" class="edit-labels">Nombre:
                        <input type="text" name="name" id="name" class="product-info <%= locals.errors && errors.name ? 'form-input-error': null%>" value="<%=product.name%>">
                    </label>

                    <label for="category" class="edit-labels">Categoría:
                        <select name="category" id="category" class="product-info">
                        <% categories.forEach(element =>{ %>
                            <% if(element.id == product.category.id){ %>
                                <option value="<%= element.id%>" selected><%=element.name%></option>
                            <% }else if(product.category == element.id){ %>
                                <option value="<%= element.id%>" selected><%=element.name%></option>
                            <% }else{%>
                                <option value="<%= element.id%>"><%=element.name%></option>
                            <% } %>
                        <% }) %> 
                        </select>
                    </label>

                    <label for="brand" class="edit-labels">Marca:
                        <select name="brand" id='brand' class="product-info">
                            <% brands.forEach(element =>{ %> 
                                <% if(element.id == product.category.id){ %>
                                    <option value="<%= element.id%>" selected><%=element.name%></option>
                                <% }else if(product.brand == element.id){ %>
                                    <option value="<%= element.id%>" selected><%=element.name%></option>
                                <% }else{%>
                                    <option value="<%= element.id%>"><%=element.name%></option>
                                <% } %>
                            <%  })  %>
                        </select>
                    </label>

                    <label for="colors" class="edit-labels">Colores:
                        <select name="colors" id="colors" class="product-info <%= locals.errors && errors.colors ? 'form-input-error': null%>" multiple>
                            <% colors.forEach(element =>{ %>
                                <% if(product.color) { %>
                                    <option value="<%= element.id%>" <%= product.color.findIndex(productColor=> {return productColor.id == element.id}) >= 0? 'selected' : ''%>><%=element.name%></option>
                                <% } else if (product.colors) { %>
                                    <% if (typeof product.colors == 'string') { %>
                                        <option value="<%= element.id%>" <%= product.colors.indexOf(element.id) >= 0? 'selected' : ''%>><%=element.name%></option>
                                    <% } else { %>
                                        <option value="<%= element.id%>" <%= product.colors.findIndex(productColor => {return productColor == element.id}) >= 0? 'selected' : ''%>><%=element.name%></option>
                                    <% } %>
                                <% }else{ %>
                                    <option value="<%= element.id%>"><%=element.name%></option>
                                <% } %>
                            <%  })  %>
                        </select>
                    </label>
                    
                    <label for="price" class="edit-labels">Precio ($):
                        <input type="text" name="price" id="price" class="product-info <%= locals.errors && errors.price ? 'form-input-error': null%>" value="<%=product.price%>">
                    </label>

                    <label for="discount" class="edit-labels">Descuento (%):
                        <input type="text" name="discount"  id='discount' class="product-info <%= locals.errors && errors.discount ? 'form-input-error': null%>" value="<%=product.discount%>">
                    </label>
                    
                    <label for="stock" class="edit-labels">Stock (x unidad):
                        <input type="text" name="stock"  id='stock' class="product-info <%= locals.errors && errors.stock ? 'form-input-error': null%>" value="<%=product.stock%>">
                    </label>

                    <label for="warranty" class="edit-labels">Garantía:
                            <input type="text" name="warranty" id="warranty" class="product-info <%= locals.errors && errors.warranty ? 'form-input-error': null%>" value="<%=product.warranty%>">
                    </label>
                    
                    <label for="image" class="edit-labels">Imágenes:
                        <input type="file" name="image" id="image" class="product-info" accept="image/jpeg, image/png, image/jpg">
                    </label>

                    <label for="videos" class="edit-labels">Video:
                        <input type="text" name="videos" id="videos" class="product-info <%= locals.errors && errors.videos ? 'form-input-error': null%>" value="<%=product.videos%>">
                    </label>
                </fieldset>
                <fieldset id="fielset-large">
                    <label for="detail" class="edit-labels large-input-labels">Detalle:
                            <textarea name="detail" id="detail" class="product-info large-input <%= locals.errors && errors.detail ? 'form-input-error': null%>"><%=product.detail%></textarea> 
                    </label>
                    <label for="caract" class="edit-labels large-input-labels">Características:
                            <textarea name="caract" id="caract" class="product-info large-input <%= locals.errors && errors.caract ? 'form-input-error': null%>"><%=product.caract%></textarea> 
                    </label>
                    
                    <label for="specs" class="edit-labels large-input-labels">Especificaciones:
                        <textarea name="specs" id="specs" class="product-info large-input <%= locals.errors && errors.specs ? 'form-input-error': null%>"><%=product.specs%></textarea> 
                    </label>
                </fieldset>
                <button type="submit" id="button-submit">Editar</button>
            </form>
            <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                <button type="submit" id="delete-button">Eliminar</button>
            </form>
        </section>
    </main>
    <%- include('../includes/footer')  %> 
</body>
</html>