<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/products/productForm.css">
    <title>Editando <%=product.name%></title>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <section id="content-container">
            <h1>Editá tu producto:</h1>
            <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <fieldset id="fieldset-small">
                    <legend>
                        <img src="/uploads/products/<%=product.image%>" alt="" id="product-img">
                        <h2><%=product.name%></h2>
                    </legend>
                    
                    <label for="name" class="edit-labels">Nombre:
                        <input type="text" name="name" id="name" class="product-info" value="<%=product.name%>">
                    </label>

                    <label for="category" class="edit-labels">Categoría:
                        <select name="category" id="category" class="product-info" required>
                        <% categories.forEach(element =>{ %>
                            <% if(element.id == product.category.id){ %>
                                <option value="<%= element.id%>" selected><%=element.name%></option>
                            <% }else{ %>
                                <option value="<%= element.id%>"><%=element.name%></option>
                            <% }%>
                        <% }) %> 
                        </select>
                    </label>

                    <label for="brand" class="edit-labels">Marca:
                        <select name="brand" id='brand' class="product-info" required>
                            <% brands.forEach(element =>{ %> 
                                <% if(element.id == product.brand.id){ %>
                                    <option value="<%= element.id%>" selected><%=element.name%></option>
                                <% }else{ %>
                                    <option value="<%= element.id%>"><%=element.name%></option>
                                <% }%>
                            <%  })  %>
                        </select>
                    </label>

                    <label for="colors" class="edit-labels">Colores:
                        <select name="colors" id="colors" class="product-info" multiple>
                            <% colors.forEach(element =>{ %>
                                <% for(i=0;i<product.color.length;i++){ %>
                                    <% if(element.id == product.color[i].id){ %>
                                        <option value="<%= element.id%>" selected><%=element.name%></option>
                                    <% }else{ %>
                                        <option value="<%= element.id%>"><%=element.name%></option>
                                    <% }%>
                                <% } %>
                            <%  })  %>
                        </select>
                    </label>
                    
                    <label for="price" class="edit-labels">Precio ($):
                        <input type="text" name="price" id="price" class="product-info" value="<%=product.price%>">
                    </label>

                    <label for="discount" class="edit-labels">Descuento (%):
                        <input type="text" name="discount"  id='discount' class="product-info" value="<%=product.discount%>" required>
                    </label>
                    
                    <label for="stock" class="edit-labels">Stock (x unidad):
                        <input type="text" name="stock"  id='stock' class="product-info" value="<%=product.stock%>" required>
                    </label>

                    <label for="warranty" class="edit-labels">Garantía:
                            <input type="text" name="warranty" id="warranty" class="product-info" value="<%=product.warranty%>">
                    </label>
                    
                    <label for="image" class="edit-labels">Imágenes:
                        <input type="file" name="image" id="image" class="product-info" accept="image/jpeg, image/png, image/jpg">
                    </label>

                    <label for="videos" class="edit-labels">Video:
                        <input type="text" name="videos" id="videos" class="product-info" value="<%=product.videos%>">
                    </label>
                </fieldset>
                <fieldset id="fielset-large">
                    <label for="detail" class="edit-labels large-input-labels">Detalle:
                            <textarea name="detail" id="detail" class="product-info large-input"><%=product.detail%></textarea> 
                    </label>
                    <label for="caract" class="edit-labels large-input-labels">Características:
                            <textarea name="caract" id="caract" class="product-info large-input"><%=product.caract%></textarea> 
                    </label>
                    
                    <label for="specs" class="edit-labels large-input-labels">Especificaciones:
                        <textarea name="specs" id="specs" class="product-info large-input"><%=product.specs%></textarea> 
                    </label>
                </fieldset>
                <button type="submit" id="button-submit">Editar</button>
            </form>
            <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                <button type="submit" id="delete-button">Eliminar</button>
            </form>
        </section>
    </main>
    <%- include('../includes/footer')  %> 
</body>
</html>