<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header') %> 
    
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 

        <section id="contenido">
            <!--Oferta de productos-->
            <section>
                <article>
                    <h2>Todos los productos</h2>
                    <section>
                        <select name="filters" id="filters">
                            <option value="">Filtros</option>
                            <option value=""></option>
                        </select>
                        <select name="filters" id="filters">
                            <option value="">Ordenar por</option>
                            <option value="">Menor a mayor precio</option>
                            <option value="">Mayor a menor precio</option>
                        </select>
                    </section>
                </article>
                <% for(i = 0; i < products.length; i++) { %>
                    <a href="/products/detail/<%=products[i].id%>">
                        <article>
                            <figure><img src="/uploads/products/<%=products[i].image%>" alt="producto"></figure>
                            <section>
                                <h3><%= products[i].name %></h3>
                                <p id="detalle"><%= products[i].detail %></p>
                            </section>
                            <p>$<%= products[i].precio %> </p>
                            <section id="precio-anterior-desc">
                                <p id="precio-anterior">$<%= products[i].priceA %></p>
                                <p id="off"><%= products[i].discount %>% OFF</p>
                            </section>
                        </article>
                    </a>
                <% } %>         
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
</body>
</html>