<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <title>Creando un Producto</title>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/products/productForm.css">
</head>
<body>
    <%- include('../includes/header') %> 
    <main>
        <section id="content-container">
            <h1>Seleccione el producto a editar</h1>
            <form action="/products/edit" method="POST">
                <fieldset>
                    <select name="product" id="product" class = "product-info">
                        <% for( let i = 0; i < products.length; i++ ) { %>
                            <option value="<%=products[i].id%>"><%=products[i].name%></option>
                        <% } %>
                    </select>
                    <button type="submit" id="button-submit">Editar</button>
                </fieldset>
            </form>
    </section>
    </main>
        <%-include('../includes/footer') %>  
</body>
</html>