<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/products/productDetail.css">
    
    <title>Detalle de producto</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header')  %> 

    <main id="contenido">
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 

        <!-- CUERPO -->
        <section id="container-main">
        
            <figure>
                <i id="i-left" class="fas fa-angle-left"></i>
                <img src='/uploads/products/<%= product.images[0].name %>' alt="producto">
                <i id="i-right" class="fas fa-angle-right"></i>
            </figure>

            <article id="product-article">
                <!-- DATA PRINCIPAL -->
                <section id="product-title">
                    <h1><%= product.name %></h1> 
                </section>
                
                <section id="product-elements">
                    <article id="product-details">
                        <h3>Precio: $<%= product.price %></h3>

                        <section>
                            <ul>
                                <li>Envio: <i class="fas fa-truck"></i></li>
                                <li>Stock: <%= product.stock %> unidades</li>
                                <li>Medio de pago: <i class="fab fa-cc-visa"></i><i class="fab fa-cc-amex"></i></li>
                                <li>Garantia: <i><%= product.warranty %></i></li>    
                            </ul>
                            
                            <form action="/" method="POST" class='form-product-stock' required>
                                <label for="color">Colores:
                                    <select name="color" id="color">
                                        <% if (product.colors.constructor === Array) { %>
                                            <% product.colors.forEach(color => { %>
                                                <option value='<%=color.id%>'><%= color.name%></option>
                                            <% }) %>
                                        <% }else{ %>
                                            <option value="<%= product.colors.id%>"><%= product.colors.name %> </option>
                                        <% } %>
                                    </select>
                                </label>
                                <label for="cantidad">Cantidad:
                                    <select name="cantidad" id="cantidad">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </label>
                            </form>
                        </section>
                    </article>

                    <section id="product-icons">
                        <i class="fas fa-share-alt"></i>
                        <i class="far fa-heart"></i>
                        <% if (user && user.admin) { %>
                            <a href="/products/<%= product.id %>/edit"><i class="fas fa-edit" id="productEdit"></i></a>
                        <% } %>
                    </section>
                
                </section>    

                <!-- BOTONES -->
                <section id="buttons">
                    <button type="submit" id="buy-button">Comprar</button>
                <form action="/users/cart/add/<%=product.id%>" method="POST">
                    <button type="submit" id="cart-button">Añadir al carrito</button>
                </form>
                </section>
                <!-- INFO Y VIDEOS -->
                <section id="info-producto-mobile">
                    <article>
                        <h3>Características</h3>
                        <section>
                            <p>Marca: <%= product.brand.name %></p>
                            <p><%= product.caract %></p>
                        </section>
                    </article>

                    <article>
                        <h3>Especificaciones</h3>
                        <section>
                            <p><%= product.specs %></p>
                        </section>
                    </article>

                    <article>
                        <h3>Videos</h3>
                        <iframe id="video-player" src="<%=product.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>
                </section>
            </article>
        </section>
        
        <section id="info-producto-desktop">
            <article>
                <h3>Características <i class="fas fa-chevron-down"></i></h3>
                <section>
                    <p><%= product.caract %></p>
                    <h4>Especificaciones</h4>
                    <p><%= product.brand.name + " " + product.specs %></p>
                </section>
            </article>

            <article>
                <h3>Videos <i class="fas fa-chevron-down"></i></h3>
                
                <iframe src="<%=product.video%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
    <script src="/js/nav.js"></script>
</body>
</html>