<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <title>Creando una Marca</title>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/products/productForm.css">
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header') %> 
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 

        <!-- CUERPO -->
        <section id="content-container">
            <h1>Agrega una Marca</h1>
            <form action="/products/create/brand" method="POST">
                <% if (locals.errors) { %>
                    <ul class="errorsList">
                    <% for(let oneError in errors){ %>
                        <li class="errors"><%= errors[oneError].msg %> </li>
                    <% } %> 
                    </ul>
                <% } %>
                <fieldset>
                    <label for="name" class="create-labels full-sized" id="product-name">Nombre de la Marca
                        <section id="nameError">
                            <% if (locals.errors && errors.name) { %>
                                <p class="errors"><%= errors.name.msg%></p>
                            <% } %>
                        </section>
                        <input type="text" name="name" id='name' class="product-info <%= locals.errors && errors.name ? 'form-input-error': null%>" value="<%= locals.brand? brand.name : null%>">
                    </label>
                    <button type="submit" id="button-submit">Crear</button>
                </fieldset>
            </form>
            <button class="link-button">Cancelar</button>
    </section>
    </main>
        <%-include('../includes/footer') %>
        <script src='/js/formValidators/product/productElementValidator.js'></script>
        <script src="/js/nav.js"></script>
</body>
</html>