    <!DOCTYPE html>
    <html lang="en">
    <head>
        <%- include('../includes/head') %>
        <title>Creando un Producto</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/products/productForm.css">
    </head>
    <body>
        <%- include('../includes/header') %> 
        <main>
            <section id="content-container">
                <h1>Creá un Producto</h1>
                <form action="/products/create" method="POST" enctype="multipart/form-data">
                    <fieldset>
                        <label for="name" class="create-labels full-sized" id="product-name">Nombre del Producto 
                            <input type="text" name="name" id='name' class="product-info" required>
                        </label>

                        <label for="category" class="create-labels">Categorias del Producto
                            <select name="category" id="category" class="product-info" required>
                            <% categories.forEach(element =>{ %> 
                                <option value="<%= element.id%>"><%=element.name%></option>
                            <% }) %> 
                            </select>
                        </label>
                    
                        <label for="brand" class="create-labels">Marca del producto
                            <select name="brand" id='brand' class="product-info" required>
                                <% brands.forEach(element =>{ %> 
                                    <option value="<%= element.id%>"><%=element.name%></option>
                                <%  })  %>
                            </select>
                        </label>
                        
                        <label for="price" class="create-labels">Precio del producto
                            <input type="text" name="price"  id='price' class="product-info" required>
                        </label>

                        <label for="image" class="create-labels">Imagen del producto
                            <input type="file" name="image" id="image" class="product-info" accept="image/jpeg, image/png, image/jpg" required>
                        </label>
                        
                        <label for="videos" class="create-labels">Link a video del producto
                            <input type="text" name="videos" id="videos" class="product-info" required>
                        </label>

                        <label for="warranty" class="create-labels">Garantia del producto
                            <input type="text" name="warranty" id="warranty" class="product-info" required>
                        </label>

                        <label for="colors" class="create-labels full-sized">Colores
                            <select name="colors" id="colors" class="product-info" multiple>
                                <% colors.forEach(element =>{ %>
                                    <% if(element.id == 1){ %> 
                                        <option value="<%= element.id%>"></option>
                                    <%}else{ %>
                                        <option value="<%= element.id%>"></option>
                                    <% } %> 
                                <%  })  %>
                            </select>
                        </label>
                        
                        
                        
                        <label for="caract" class="create-textarea">Características del producto
                            <textarea name="caract" id='caract' class="product-info large-input" rows="4" required></textarea>
                        </label>
                        
                        <label for="specs" class="create-textarea">Especificaciones del producto
                            <textarea name="specs" id='specs' class="product-info large-input" rows="4" required></textarea>
                        </label>
                        
                        <label for="detail" class="create-textarea">Detalle del producto
                            <textarea name="detail" id='detail' class="product-info large-input" rows="4" required></textarea> 
                        </label>
                        
                        <button type="submit" id="button-submit">Crear</button>
                    </fieldset>
                </form>
        </section>
        </main>
        <footer>
            <%-include('../includes/footer') %> 
        </footer>   
    </body>
    </html>