<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header') %> 
    
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 

        <section id="contenido">
            <!--Oferta de productos-->
            <section>
                <article id="section-titles">
                    <h2>Todos los productos</h2>
                    <section>
                        <select name="filters" id="filters">
                            <option value="">Ordenar por</option>
                            <option value="">Menor a mayor precio</option>
                            <option value="">Mayor a menor precio</option>
                        </select>
                    </section>
                </article>
                <% for(i = 0; i < products.length; i++) { %>
                    <article class="content-box">
                        <a href="/products/detail/<%=products[i].id%>" class="product-box">
                            <figure class="figure-product-img"><img src="/uploads/products/<%=products[i].image%>" alt="producto"></figure>
                            <section>
                                <h3 class="product-title"><%= products[i].name %></h3>
                                <p class="detalle"><%= products[i].detail %></p>
                            </section>
                            <p class="price">$<%= finalPrice(products[i].price, products[i].discount) %> </p>
                            <section class="precio-anterior-desc">
                                <% if(products[i].discount > 0) {%>
                                    <p class="precio-anterior">$<%= products[i].price %></p>
                                    <p class="off"><%= products[i].discount %>% OFF</p>
                                <% } else {%>
                                    <p class="hidden-stuff"><%= products[i].discount %>%</p>
                                <% } %>
                            </section>
                        </a>
                    </article>
                <% } %>         
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
</body>
</html>