    <!DOCTYPE html>
    <html lang="en">
    <head>
        <%- include('../includes/head') %>
        <title>Creando un Producto</title>
        <% styles.forEach(style => { %>
            <link rel="stylesheet" href="/css/<%= style %> ">
        <% }) %>
        <link rel="stylesheet" href="/css/products/productForm.css">
    </head>
    <body>
        <%- include('../includes/header') %> 
        <main>
            <section id="content-container">
                <h1>Creá un Producto</h1>
                <form action="/products/create" method="POST" enctype="multipart/form-data" id="main-form">
                        <ul class="errorsList">
                        <% if (locals.errors) { %>
                            <% for(let oneError in errors){ %>
                                <li class="errors"><%= errors[oneError].msg %> </li>
                            <% } %>
                        <% } %> 
                        </ul>
                    <fieldset>
                        <label for="name" class="create-labels full-sized" id="product-name">Nombre del Producto 
                            <input type="text" name="name" id='name' class="product-info <%= locals.errors && errors.name ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.name : null%>">
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="category" class="create-labels">Categorias del Producto
                            <select name="category" id="category" class="product-info <%= locals.errors && errors.category ? 'form-input-error': null%>">
                                <option value="" selected="true" disabled="disabled">Elija una categoria</option>
                            <% categories.forEach(element =>{ %> 
                                <option value="<%= element.id%>"><%=element.name%></option>
                            <% }) %> 
                            </select>
                            <p class='form-input-errorMsg'></p>
                        </label>
                    
                        <label for="brand" class="create-labels">Marca del producto
                            <select name="brand" id='brand' class="product-info <%= locals.errors && errors.brand ? 'form-input-error': null%>">
                                <option value="" selected disabled>Elija una marca</option>
                                <% brands.forEach(element =>{ %> 
                                    <option value="<%= element.id%>"><%=element.name%></option>
                                <%  })  %>
                            </select>
                            <p class='form-input-errorMsg'></p>
                        </label>
                        
                        <label for="price" class="create-labels">Precio del producto
                            <input type="text" name="price"  id='price' class="product-info <%= locals.errors && errors.price ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.price : null%>">
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="image" class="create-labels">Imagen del producto
                            <input type="file" name="image" id="image" class="product-info <%= locals.errors && errors.image ? 'form-input-error': null%>">
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="warranty" class="create-labels">Garantia del producto
                            <input type="text" name="warranty" id="warranty" class="product-info <%= locals.errors && errors.warranty ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.warranty : null%>">
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="stock" class="create-labels">Stock del producto
                            <input type="text" name="stock" id="stock" class="product-info <%= locals.errors && errors.stock ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.stock : null%>">
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="video" class="create-labels full-sized">Link a video del producto (opcional)
                            <input type="text" name="video" id="video" class="product-info <%= locals.errors && errors.video ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.video : null%>">
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="color" class="create-labels full-sized">Colores 
                            <select name="color" id="color" class="product-info <%= locals.errors && errors.color ? 'form-input-error': null%>" multiple>
                                <option value="" selected disabled>Seleccione un color</option>
                                <% colors.forEach(color =>{ %>\
                                    <%if(locals.errors && productInfo && productInfo.color){%>
                                        <% if (typeof productInfo.color == 'string') { %>
                                            <option value="<%= color.id%>" <%= productInfo.color.indexOf(color.id) >= 0? 'selected' : ''%>><%=color.name%></option>
                                        <% } else { %>
                                            <option value="<%= color.id%>" <%= productInfo.color.findIndex(productColor => {return productColor == color.id}) >= 0? 'selected' : ''%>><%=color.name%></option>
                                        <% } %>
                                    <% }else{ %>
                                        <option value="<%= color.id%>"><%=color.name%></option>
                                    <% } %>
                                <%  })  %>
                            </select>
                            <p class='form-input-errorMsg'></p>
                        </label>

                        <label for="characteristics" class="create-textarea">Características del producto
                            <textarea name="characteristics" id='characteristics' class="product-info large-input <%= locals.errors && errors.characteristics ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.characteristics : null%>" rows="4"></textarea>
                            <p class='form-input-errorMsg'></p>
                        </label>
                        
                        <label for="specs" class="create-textarea">Especificaciones del producto
                            <textarea name="specs" id='specs' class="product-info large-input <%= locals.errors && errors.specs ? 'form-input-error': null%>" value="<%= locals.productInfo? productInfo.specs : null%>" rows="4"></textarea>
                            <p class='form-input-errorMsg'></p>
                        </label>
                        <button type="submit" id="button-submit">Crear</button>
                    </fieldset>
                </form>
        </section>
        </main>
            <%-include('../includes/footer') %>
    <script src="/js/formValidators/createValidator.js"></script>  
    </body>
    </html>