<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/index.css">
    <title>Products List</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header') %> 
    
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/navProducts') %> 

        <!-- CUERPO -->
        <section id="contenido">
            <!--Oferta de productos-->
            <section>
                <article id="section-titles">
                    <h2>Todos los productos</h2>
                    <section>
                        <select name="filters" id="filters">
                            <option value="" selected disabled>Ordenar por</option>
                            <option value="">Menor a mayor precio</option>
                            <option value="">Mayor a menor precio</option>
                        </select>
                    </section>
                </article>
                <!--Errores al buscar-->
                <%if(productsTotalCount == 0){%>
                    <p>No se encuentra ningun producto asociado a ese nombre</p>
                <% } else {%>
                    <% for(i = 0; i < products.length; i++) { %>
                        <article class="content-box">
                            <a href="/products/detail/<%=products[i].id%>" class="product-box">
                                <figure class="figure-product-img"><img src="/uploads/products/<%=products[i].images[0].name%>" alt="producto"></figure>
                                <section>
                                    <h3 class="product-title"><%= products[i].name %></h3>
                                    <p class="detalle"><%= products[i].detail %></p>
                                </section>
                                <p class="price">$<%= products[i].price %> </p>
                                <section class="precio-anterior-desc">
                                    <% if(products[i].discount > 0) {%>
                                        <p class="precio-anterior">$<%= products[i].originalPrice %></p>
                                        <p class="off"><%= products[i].discount %>% OFF</p>
                                    <% } else {%>
                                        <p class="hidden-stuff"><%= products[i].discount %>%</p>
                                    <% } %>
                                </section>
                            </a>
                        </article>
                    <% } %>
                <% } %> 
                <section id="page-navbar-cont">
                    <nav id="page-navbar">
                    <!-- Flecha izquierda -->
                        <% if(search){ %>
                            <a href="<%= idPage == 1 ? '#' : `/products/list/${(idPage-1)}?searchbar=${search}`%>" class= "page-navbar-arrows" id="previous">
                        <% } else if(categoryId){ %>
                            <a href="<%= idPage == 1 ? '#' : `/products/list/${(idPage-1)}/${categoryId}`%>" class= "page-navbar-arrows" id="previous">
                        <% } else { %>
                            <a href="<%= idPage == 1 ? '#' : '/products/list/'+ (idPage-1)%>" class= "page-navbar-arrows" id="previous">
                        <% } %>  
                                <i class="fa fa-angle-left"></i>
                            </a>
                        <!-- Numeros de paginas -->
                        <% for(let i = 1; i <= pages; i++ ) { %>
                            <% if(search){ %>
                                <a href="<%=`/products/list/${i}?searchbar=${search}`%>" class="page-navbar-btn <%= i == idPage? 'active': null%>"><%= i %></a>
                            <% } else if(categoryId){ %>
                                <a href="<%=`/products/list/${i}/${categoryId}`%>" class="page-navbar-btn <%= i == idPage? 'active': null%>"><%= i %></a>
                            <% } else { %>
                                <a href="<%=`/products/list/${i}`%>" class="page-navbar-btn <%= i == idPage? 'active': null%>"><%= i %></a>
                            <% } %> 
                        <% } %>
                        <!-- Flecha derecha -->
                        <% if(search){ %>
                            <a href="<%= idPage == pages ? '#' : `/products/list/${(idPage+1)}?searchbar=${search}`%>" class= "page-navbar-arrows" id="previous">
                        <% } else if(categoryId){ %>
                            <a href="<%= idPage == pages ? '#' : `/products/list/${(idPage+1)}/${categoryId}`%>" class= "page-navbar-arrows" id="previous">
                        <% } else { %>
                            <a href="<%= idPage == pages ? '#' : '/products/list/'+ (idPage+1)%>" class= "page-navbar-arrows" id="previous">
                        <% } %>
                            <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </nav>
                </section>         
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
    <script src="/js/nav.js"></script>
</body>
</html>