<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <title>Creando un Categoría</title>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/products/productForm.css">
</head>
<body>
    <%- include('../includes/header') %> 
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 
        <section id="content-container">
            <h1>Agrega una Categoria</h1>
            <form action="/products/create/category" method="POST" >
                <fieldset>
                    <label for="name" class="create-labels full-sized" id="product-name">Nombre de la Categoria
                        <section id="nameError">
                            <% if (locals.errors && errors.name) { %>
                                <p class="errors"><%= errors.name.msg%></p>
                            <% } %>
                        </section>
                        <input type="text" name="name" id='name' class="product-info <%= locals.errors && errors.name ? 'form-input-error': null%>" value="<%= locals.category? category.name : null%>">
                    </label>
                    <label for="detail" class="create-textarea">Ayuda informativa de la categoria
                        <section id="detailError">
                            <% if (locals.errors && errors.detail) { %>
                                <p class="errors"><%= errors.detail.msg%></p>
                            <% } %>
                        </section>
                        <textarea name="detail" id='detail' class="product-info large-input <%= locals.errors && errors.detail ? 'form-input-error': null%>" value="<%= locals.category? category.detail : null%>" rows="4"></textarea>
                    </label>
                    <button type="submit" id="button-submit">Crear</button>
                </fieldset>
            </form>
            <button id="cancel-button">Cancelar</button>
    </section>
    </main>
    <%-include('../includes/footer') %>
    <script src='/js/formValidators/product/productElementValidator.js'></script> 
    <script src='/js/formValidators/cancel.js'></script>
    <script src="/js/nav.js"></script>
</body>
</html>