<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products/productDetail.css">
    
    <title>Detalle de producto</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header')  %> 
    
    <main id="contenido">
        <!-- CUERPO -->
        <section id="container-main">
        
            <figure>
                <i id="i-left" class="fas fa-angle-left"></i>
                <img src='/uploads/products/<%= product.image %>' alt="producto">
                <i id="i-right" class="fas fa-angle-right"></i>
            </figure>

            <article id="product-article">
                <!-- DATA PRINCIPAL -->
                <section id="product-title">
                    <h1><%= product.name %></h1>

                    <h2>Marca: <%= product.brand.name %></h2>
                </section>
                
                <section id="product-elements">
                    <article id="product-details">
                        <h3>Precio: $<%= product.price %></h3>

                        <section>
                            <ul>
                                <li>Envio: <i><%= product.shipping %></i></li>
                                <li>Disponibilidad: <i class= "<%= product.available %>"></i></li>
                                <li>Medio de pago: <i class= "<%= product.payment %>"></i></li>
                                <li>Garantia: <i><%= product.warranty %></i></li>    
                            </ul>
                            
                            <form action="/" method="POST" class='form-product-stock' required>
                                <label for="color">Colores:
                                    <select name="color" id="color">
                                        <%product.color.forEach(element=>{ %>
                                            <option value="<%=element.id%>"><%= element.name %></option>
                                        <% }) %> 
                                    </select>
                                </label>
                                <label for="cantidad">Cantidad:
                                    <select name="cantidad" id="cantidad">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </label>
                            </form>
                        </section>
                    </article>

                    <section id="product-icons">
                        <a href="/products/<%= product.id %>/edit"><i class="fas fa-edit" id="productEdit"></i></a>
                        
                        <i class="fas fa-share-alt"></i>
                        <i class="far fa-heart"></i>
                    </section>
                    <form action="/products/<%= product.id %>?_method=DELETE" method="post">
                        <button type="submit">Eliminar</button>
                    </form>
                
                </section>    

                <!-- BOTONES -->
                <section id="buttons">
                    <button type="submit" id="buy-button">Comprar</button>

                    <button type="submit" id="cart-button">Añadir al carrito</button>
                </section>
                <!-- INFO Y VIDEOS -->
                <section id="info-producto-mobile">
                    <article>
                        <h3>Características</h3>
                        <section>
                            <p>Colores: 
                                <% product.color.forEach(element=>{ %>
                                    <%= element.name %>
                                <% }) %>
                            </p>
                            <p><%= product.caract %></p>
                        </section>
                    </article>

                    <article>
                        <h3>Especificaciones</h3>
                        <section>
                            <p><%= product.specs %></p>
                        </section>
                    </article>

                    <article>
                        <h3>Videos</h3>

                        <iframe src="<%=product.videos%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>
                </section>
            </article>
        </section>
        
        <section id="info-producto-desktop">
            <article>
                <h3>Características <i class="fas fa-chevron-down"></i></h3>
                <section>
                    <p>Colores: 
                        <% product.color.forEach(element=>{ %>
                            <%= element.name %>
                        <% }) %>
                    </p>
                    <p><%= product.caract %></p>
                </section>
            </article>

            <article>
                <h3>Especificaciones <i class="fas fa-chevron-down"></i></h3>
                <section>
                    <p><%= product.specs %></p>
                </section>
            </article>

            <article>
                <h3>Videos <i class="fas fa-chevron-down"></i></h3>
                
                <iframe src="<%=product.videos%>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
</body>
</html>