<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./includes/header')  %> 
    
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <nav class="navbar">
            <h2>Todas las categorias</h2>
            <ul>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="#">Categoría 3</a></li>
                
                <li id="productCreate"><a href="/product/create">Crear nuevo producto</a></li>
            </ul>
            
        </nav>
        <section id="contenido">
            <!--Carousel-->
            <aside class="carousel">
                <i class="fas fa-angle-left i-left"></i>
                <figure class="fotos-carousel"><img src="imgs/index/carousel.jpg"></figure>
                <i class="fas fa-angle-right i-right"></i>
            </aside>
            <!--Oferta de productos-->
            <section class="home-contenido">
                <article class="home-ofertas">
                    <h2>Ofertas</h2>
                    <section class="ver-todo">
                        <a href="#">Ver todo <i class="fas fa-arrow-right"></i></a>
                    </section>
                </article>
                <% for(i = 0; i < product.length; i++) { %>
                    <a href="/productDetail/<%=product[i].id%> " class="home-productos">
                        <article>
                            <figure><img src="/imgs/index/<%=product[i].img%>" alt="producto"></figure>
                            <section>
                                <h3><%= product[i].nombre %></h3>
                                <p class="detalle"><%= product[i].detalle %></p>
                            </section>
                            <p class="home-precio"><%= product[i].precio %> </p>
                            <section class="home-precio-anterior-desc">
                                <p class="precio-anterior">$<%= product[i].precioA %></p>
                                <p class="off"><%= product[i].descuento %>% OFF</p>
                            </section>
                        </article>
                    </a>
                <% } %>         
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>