<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head') %>
    <link rel="stylesheet" href="/css/styles.css"> 
    <link rel="stylesheet" href="/css/products/productForm.css">
    <title>Editando <%=product.nombre%></title>
</head>
<body>
    <%- include('./includes/header') %>
    <main>
        <section id="content-container">
            <h1>Editá tu producto:</h1>
            <form action="/" method="POST" enctype="multipart/form-data">
                <fieldset id="fieldset-small">
                    <legend>
                        <img src="/imgs/index/<%=product.img%>" alt="" id="product-img">
                        <h2><%=product.nombre%></h2>
                    </legend>
                    <label for="nombre" class="edit-labels">Nombre:
                        <input type="text" name="nombre" id="nombre" class="product-info" value="<%=product.nombre%>">
                    </label>
                    <label for="marca" class="edit-labels">Marca:
                        <input type="text" name="marca" id="marca" class="product-info" value="<%=product.marca%>">
                    </label>
                    
                    <label for="precio" class="edit-labels">Precio: 
                        <input type="text" name="precio" id="precio" class="product-info" value="<%=product.precio%>">
                    </label>

                    <label for="descuento" class="edit-labels">Descuento:
                        <input type="text" name="descuento"  id='descuento' class="product-info" value="<%=product.descuento%>" required>
                    </label>
                    
                    <label for="garantia" class="edit-labels">Garantía:
                            <input type="text" name="garantia" id="garantia" class="product-info" value="<%=product.garantia%>">
                    </label>
                    
                    <label for="img" class="edit-labels">Imágen:
                        <input type="file" name="img" id="img" class="product-info">
                    </label>

                    <label for="vid" class="edit-labels">Video:
                        <input type="text" name="vid" id="vid" class="product-info">
                    </label>
                    </fieldset>
                <fieldset id="fielset-large">
                    <label for="detalle" class="edit-labels large-input-labels">Detalle:
                            <textarea name="detalle" id="detalle" class="product-info large-input"><%=product.detalle%></textarea> 
                    </label>
                    <label for="caract" class="edit-labels large-input-labels">Características:
                            <textarea name="caract" id="caract" class="product-info large-input"><%=product.caract%></textarea> 
                    </label>
                    
                    <label for="esp" class="edit-labels large-input-labels">Especificaciones:
                        <textarea name="esp" id="esp" class="product-info large-input"><%=product.esp%></textarea> 
                    </label>
                </fieldset>
                <button type="submit" id="button-submit">Editar</button>
            </form>
        </section>
    </main>
    <%- include('./includes/footer')  %> 
</body>
</html>