<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/users/productCart.css">

    <title>Carrito de compras</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./includes/header')  %> 

    <main>
        <!-- CUERPO -->
        <section id="contenido">
            <section id="title">
                <h2 id="selected">Carrito</h2>
                <h2>Favoritos</h2>
            </section>

            <article id="products-container">
                <% for(let i = 0; i < product.length; i++){ %> 
                    <section>
                        <section class="product"> 
                            <h3><a href="/productDetail/<%= i %> "><%= product[i].name %> </a></h3>
                            <form action="/" method="POST" required>
                                <label>Cantidad:</label>
                                <select name="cantidad" id="cantidad">
                                    <% for(let i = 1; i <= 6; i++){ %> 
                                        <option value="<%= i %>"><%= i %></option>
                                    <% } %> 
                                </select>
                            </form>
                            <p>$<%= product[i].priceA %></p>
                        </section>
                    </section>
                <% } %> 
            </article>

            <article id="units-total">
                <section>
                    <h3>Unidades: X</h3>
                </section>

                <section>
                    <h3>Total: $<%= total %> </h3>
                </section>
            </article>

            <button id="buy-button">Realizar pedido</button>
            
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>