<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productDetail.css">
    
    <title>Detalle de producto</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./includes/header')  %> 
    
    <main>
        <!-- CUERPO -->
        <section id="contenido">
            <section class="container-main">
            
                <figure class="product-img">
                    <i class="fas fa-angle-left i-left"></i>
                    <img src=<%= product[idProduct -1].img %> alt="producto">
                    <i class="fas fa-angle-right i-right"></i>
                </figure>

                <article class="product-article">
                    <!-- DATA PRINCIPAL -->
                    <section class="product-title">
                        <h1><%= product[idProduct -1].nombre %></h1>

                        <h2>Marca: <%= product[idProduct -1].marca %></h2>
                    </section>

                    <section class="product-elements">
                        <article class="product-details">
                            <h3>Precio: <%= product[idProduct -1].precio %></h3>

                            <section>
                                <ul>
                                    <li>Envio: <i><%= product[idProduct -1].envio %></i></li>
                                    <li>Disponibilidad: <i class= "<%= product[idProduct -1].disponibilidad %>"></i></li>
                                    <li>Medio de pago: <i class= "<%= product[idProduct -1].pago %>"></i></li>
                                    <li>Garantia: <i><%= product[idProduct -1].garantia %></i></li>    
                                </ul>
                                
                                <form action="/" method="POST" required>
                                    <label>Cantidad:</label>
                                    <select name="cantidad" id="cantidad">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                    </select>
                                </form>
                            </section>
                        </article>

                        <section class="product-icons">
                            <i class="fas fa-share-alt share"></i>

                            <i class="far fa-heart heart"></i>
                        </section>
                    </section>

                    <!-- BOTONES -->
                    <section class="buttons">
                        <button type="submit" class="buy-button">Comprar</button>

                        <button type="submit" class="cart-button">Añadir al carrito</button>
                    </section>

                    <!-- INFO Y VIDEOS -->
                    <section class="info-producto-mobile">
                        <article>
                            <h3>Características</h3>

                            <p><%= product[idProduct -1].caract %></p>
                        </article>

                        <article>
                            <h3>Especificaciones</h3>

                            <p><%= product[idProduct -1].esp %></p>
                        </article>

                        <article>
                            <h3>Videos</h3>

                            <p class="product-vid"></p>
                        </article>
                    </section>
                </article>
            </section>
            
<!-- Esto podría hacerse con uno sólo -->
            <section class="info-producto-desktop">
                <article>
                    <h3>Características <i class="fas fa-chevron-down"></i></h3>

                    <p><%= product[idProduct -1].caract %></p>
                </article>

                <article>
                    <h3>Especificaciones <i class="fas fa-chevron-down"></i></h3>

                    <p><%= product[idProduct -1].esp %></p>
                </article>

                <article>
                    <h3>Videos <i class="fas fa-chevron-down"></i></h3>

                    <p class="product-vid"></p>
                </article>
            </section>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>