<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/products/productDetail.css">
    
    <title>Detalle de producto</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./includes/header')  %> 
    
    <main id="contenido">
        <!-- CUERPO -->
        <section id="container-main">
        
            <figure>
                <i id="i-left" class="fas fa-angle-left"></i>
                <img src='/imgs/index/<%= product.img %>' alt="producto">
                <i id="i-right" class="fas fa-angle-right"></i>
            </figure>

            <article id="product-article">
                <!-- DATA PRINCIPAL -->
                <section id="product-title">
                    <h1><%= product.nombre %></h1>

                    <h2>Marca: <%= product.marca %></h2>
                </section>
                
                <section id="product-elements">
                    <article id="product-details">
                        <h3>Precio: <%= product.precio %></h3>

                        <section>
                            <ul>
                                <li>Envio: <i><%= product.envio %></i></li>
                                <li>Disponibilidad: <i class= "<%= product.disponibilidad %>"></i></li>
                                <li>Medio de pago: <i class= "<%= product.pago %>"></i></li>
                                <li>Garantia: <i><%= product.garantia %></i></li>    
                            </ul>
                            
                            <form action="/" method="POST" required>
                                <label>Cantidad:</label>
                                <select name="cantidad" id="cantidad">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </form>
                        </section>
                    </article>

                    <section id="product-icons">
                        <a href="/product/edit/<%= product.id %> "><i class="fas fa-edit" id="productEdit"></i></a>
                        
                        <i class="fas fa-share-alt"></i>
                        <i class="far fa-heart"></i>
                    </section>
                </section>

                <!-- BOTONES -->
                <section id="buttons">
                    <button type="submit" id="buy-button">Comprar</button>

                    <button type="submit" id="cart-button">Añadir al carrito</button>
                </section>

                <!-- INFO Y VIDEOS -->
                <section id="info-producto-mobile">
                    <article>
                        <h3>Características</h3>

                        <p><%= product.caract %></p>
                    </article>

                    <article>
                        <h3>Especificaciones</h3>

                        <p><%= product.esp %></p>
                    </article>

                    <article>
                        <h3>Videos</h3>

                        <iframe src="<%= product.vid %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </article>
                </section>
            </article>
        </section>
        
        <section id="info-producto-desktop">
            <article>
                <h3>Características <i class="fas fa-chevron-down"></i></h3>

                <p><%= product.caract %></p>
            </article>

            <article>
                <h3>Especificaciones <i class="fas fa-chevron-down"></i></h3>

                <p><%= product.esp %></p>
            </article>

            <article>
                <h3>Videos <i class="fas fa-chevron-down"></i></h3>
                
                <iframe src="https://www.youtube.com/embed/Eaq89YCDH4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>