<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./includes/header') %> 
    
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('./includes/nav') %> 

        <section id="contenido">
            <!--Carousel-->
            <aside>
                <i class="fas fa-angle-left i-left"></i>
                <figure><img src="imgs/index/carousel.jpg"></figure>
                <i class="fas fa-angle-right i-right"></i>
            </aside>
            <!--Oferta de productos-->
            <section>
                <article id="section-titles">
                    <h2>Ofertas</h2>
                    <section>
                        <a href="/products">Todos los productos <i class="fas fa-arrow-right"></i></a>
                    </section>
                </article>
                <% for(i = 0; i < products.length; i++) { %>
                    <% if(products[i].discount > 0){ %>
                        <article class="content-box">
                            <a href="/products/detail/<%=products[i].id%>" class="product-box">
                                <figure class="figure-product-img"><img src="/uploads/products/<%=products[i].image%>" alt="producto"></figure>
                                <section>
                                    <h3><%= products[i].name %></h3>
                                    <p class="detalle"><%= products[i].detail %></p>
                                </section>
                                <p class="price">$<%= finalPrice(products[i].price, products[i].discount) %> </p>
                                <section class="precio-anterior-desc">
                                    <p class="precio-anterior">$<%= products[i].price %></p>
                                    <p class="off"><%= products[i].discount %>% OFF</p>
                                </section>
                            </a>
                        </article>
                    <% } %>
                <% } %>         
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>