<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Home</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./includes/header')  %> 
    
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <nav id="navbar">
            <h2>Todas las categorias</h2>
            <ul>
                <li><a href="#">Categoría 1</a></li>
                <li><a href="#">Categoría 2</a></li>
                <li><a href="#">Categoría 3</a></li>
                
                <li id="productCreate"><a href="/products/create">Crear nuevo producto</a></li>
            </ul>
            
        </nav>
        <section id="contenido">
            <!--Carousel-->
            <aside>
                <i class="fas fa-angle-left i-left"></i>
                <figure><img src="imgs/index/carousel.jpg"></figure>
                <i class="fas fa-angle-right i-right"></i>
            </aside>
            <!--Oferta de productos-->
            <section>
                <article>
                    <h2>Ofertas</h2>
                    <section>
                        <a href="/products">Todos los productos <i class="fas fa-arrow-right"></i></a>
                    </section>
                </article>
                <% for(i = 0; i < product.length; i++) { %>
                    <% if(product[i].discount > 0){ %>
                        <a href="/products/<%=product[i].id%>">
                            <article>
                                <figure><img src="/uploads/products/<%=product[i].image%>" alt="producto"></figure>
                                <section>
                                    <h3><%= product[i].name %></h3>
                                    <p id="detalle"><%= product[i].detail %></p>
                                </section>
                                <p>$<%= product[i].precio %> </p>
                                <section id="precio-anterior-desc">
                                    <p id="precio-anterior">$<%= product[i].priceA %></p>
                                    <p id="off"><%= product[i].discount %>% OFF</p>
                                </section>
                            </article>
                        </a>
                    <% } %>
                <% } %>         
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('./includes/footer')  %> 
</body>
</html>