<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/users/profileMaintain.css">
    <title>Perfil</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header')  %>
    <main >
        <section id="contenido">
            <figure>
                <img src="/uploads/users/<%=users.avatar%>" alt="profile-image">
            </figure>
            <section id="line-a"></section>
            <section id="user-info">
                <h2><%= users.firstName + ' ' + users.lastName %></h2>
                <article>
                    <ul>
                        <li>Nombre de usuario: <%= users.username %></li>
                        <li>Email: <%= users.email %></li>
                        <li>Tipo de user: <%= users.admin == 0 ? 'Usuario' : 'Admin' %></li>
                    </ul>
                </article>
                <section id="option-buttons">
                    <form action="/users/list" method="GET">
                        <button type="submit" id="option-one">Volver</button>
                    </form>
                    <form action="/users/destroy/<%=users.id%>" method="POST">
                        <button type="submit" id="option-two">Borrar usuario</button>
                    </form>
                </section>
            </section>
            <section id="line-b"></section>
        </section>    
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
    <script src="/js/home.js"></script>
</body>
</html>