<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/users/userList.css">
    <title>Lista de Usuarios</title>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <section id="contenido">
            <% for(i = 0;i < users.length;i++) { %>
            <a href="/users/edit/<%=users[i].id%>">
                <article class="container-user">
                    <figure class="container-img-user">
                        <img src="/uploads/users/<%= users[i].avatar%>" alt="" class="img-user">
                    </figure>
                    <section class="user-info">
                        <h2><%= users[i].username%></h2>
                        <h3>Nombre Completo: <%= users[i].firstName + ' ' + users[i].lastName %></h3>
                    </section>
                </article>
            </a>
            <% } %>
        </section>
    </main>
    <%-include('../includes/footer') %> 
</body>
</html>