<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/users/userList.css">
    <title>Lista de Usuarios</title>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 

        <!-- CUERPO -->
        <section id="contenido">
            <article id="title">
                <h2>Usuarios:</h2>
                <section>
                    <form id="buscador" method="GET" action="/users/list/1">
                        <!--Filtros-->
                        <select name="filters" id="filters">
                            <option value="" selected disabled>Ordenar de:</option>
                            <option value="asc" <% 'filters' == 'asc'? 'selected' : '' %> >A - Z</option>
                            <option value="desc" <% 'filters' == 'desc'? 'selected' : '' %> >Z - A</option>
                        </select>
                        <!--Buscador-->
                        <input type="search" name="search" placeholder="Buscar..." id="search">
                        <button type="submit" name="buscar" class="buscar"><i class="fas fa-search"></i></button>
                    </form>
                    <!--Errores al buscar-->
                    <%if(usersTotalCount==0){%>
                        <p>No se encuentra ningun usuario asociado a ese nombre</p>
                    <% } %>
                </section>
            </article>
        <% for(i = 0;i < users.length;i++) { %>
            <a href="/users/profile/<%= users[i].id%>">
                <article class="container-user">
                    <figure class="container-img-user">
                        <img src="/uploads/users/<%= users[i].avatar%>" alt="" class="img-user">
                    </figure>
                    <section class="user-info">
                        <h2><%= users[i].username%></h2>
                        <h3><%= users[i].firstName + ' ' + users[i].lastName%></h3>
                    </section>
                </article>
            </a>
        <% } %>
            <section id="page-navbar-cont">
                <nav id="page-navbar">
                    <!-- Flecha izquierda -->
                    <% if(search){ %>
                        <a href="<%= idPage == 1 ? '#' : `/users/list/${(idPage-1)}?search=${search}`%>" class= "page-navbar-arrows" id="previous">
                    <% } else { %>
                        <a href="<%= idPage == 1 ? '#' : '/users/list/'+ (idPage-1)%>" class= "page-navbar-arrows" id="previous">
                    <% } %>  
                            <i class="fa fa-angle-left"></i>
                        </a>
                    <!-- Numeros de paginas -->
                    <% for(let i = 1; i <= pages; i++ ) { %>
                        <% if(search){ %>
                            <a href="<%=`/users/list/${i}?search=${search}`%>" class="page-navbar-btn <%= i == idPage? 'active': null%>"><%= i %></a>
                        <% } else { %>
                            <a href="<%=`/users/list/${i}`%>" class="page-navbar-btn <%= i == idPage? 'active': null%>"><%= i %></a>
                        <% } %> 
                    <% } %>
                    <!-- Flecha derecha -->
                    <% if(search){ %>
                        <a href="<%= idPage == pages ? '#' : `/users/list/${(idPage+1)}?search=${search}`%>" class= "page-navbar-arrows" id="previous">
                    <% } else { %>
                        <a href="<%= idPage == pages ? '#' : '/users/list/'+ (idPage+1)%>" class= "page-navbar-arrows" id="previous">
                    <% } %>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                </nav>
            </section>   
        </section>
    </main>
    <%-include('../includes/footer') %>
    <script src="/js/nav.js"></script>
</body>
</html>