<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/css/users/userForm.css">
    <link rel="stylesheet" href="/css/users/login.css">
    <title>Inicia Sesion</title>
</head>
<body>
    <header>
        <a href="/"><img id="logo" src="/imgs/logo_final.svg" alt="logo"></a>
    </header>
    <main>
        <section id="main-section-container">
            <form action="/users/login" method="POST" id="loginForm">
                <fieldset>
                    <legend>Iniciar Sesión</legend>
                    <label for="email">
                        <input type="email" name="email" id="email" placeholder="Email" class="info <%= locals.errors && errors.email ? 'input-error': null%>" value="<%= locals.userInfo? userInfo.email : null%>">
                        <p class="errors"></p>
                        <!--Si hay errores de logeo del usuario, aparece el primero-->
                        <%if(locals.errors && errors.email){%>
                            <p class="errors"><%= errors.email.msg %></p>
                        <% } %>
                        <%if(locals.errors && errors.password){%>
                            <p class="errors"><%= errors.password.msg %></p>
                        <% } %>
                    </label>

                    <label for="password">
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="info" >
                    <a href="#" class="forget-link">¿Olvidaste tu contraseña?</a>
                    </label>

                    <label for="remember" class="remember-me-box">
                        <input type="checkbox" name="remember" id="remember">
                        Recordarme
                    </label>
                    <button type="submit" id="button-submit">Ingresar</button>
                </fieldset>    
            </form>
            <section id="redirect-section">
                <h2>
                    ¿No tenés cuenta?
                </h2>
                <button type="button" id="button-link-redirect">
                    <a href="/users/register">Registrate</a>
                </button>
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %>
    <script src="/js/formValidators/loginValidator.js"></script>
</body>
</html>