<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/users/productCart.css">

    <title>Carrito de compras</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header')  %> 
    <main>
        <!-- MENU DE NAVEGACIÓN -->
        <%- include('../includes/nav') %> 
        <!-- CUERPO -->
        <section id="contenido">
            <section id="title">
                <h2 id="selected">Carrito</h2>
                <h2>Favoritos</h2>
            </section>

            <article id="products-container">
                <% if (products.total_products != 0) { %>
                    <% for(let i = 0; i < products.cart_products.length; i++){ %> 
                        <section>
                            <section class="product"> 
                                <figure><img src="/uploads/products/<%= products.cart_products[i].products.images[0].name %> " alt="foto_producto"></figure>
                                <h3><a href="/products/detail/<%= products.cart_products[i].products.id %> "><%= products.cart_products[i].products.name %> </a></h3>
                                <form action="/" method="POST">
                                    <p>Cantidad: <%= products.cart_products[i].products_amount%></p>
                                </form>
                                <p>$<%= products.cart_products[i].products.price %></p>
                                <form action="/users/cart/<%=products.cart_products[i].products.id %>?_method=DELETE" method="POST">
                                    <button type="submit" id="itemDelete"><i class="far fa-times-circle"></i></button>
                                </form>
                            </section>
                        </section>
                    <% } %> 
                <% }else{ %>
                    <h2 id="emptyMsg">Carrito Vacio!</h2>
                <% } %>
            </article>

            <article id="units-total">
                    <h3>Unidades: <%= products? products.total_products : 0%></h3>

                    <h3>Total: $<%= products? products.final_price : 0 %> </h3>
                
            </article>

            <button id="buy-button">Realizar pedido</button>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %>
    <script src="/js/nav.js"></script>
</body>
</html>