<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/css/users/userForm.css">
    <link rel="stylesheet" href="/css/users/register.css">
    <title>Registrate</title>
</head>
<body>
    <header>
        <a href="/"><img id="logo" src="/imgs/logo_final.svg" alt="logo"></a>
    </header>
    <main>
        <section id="main-section">
            <section id="main-section-desktop">
                <article class="article-descrip">
                    <i class="fas fa-truck-moving"></i>
                    <section class="article-descrip-text">
                        <h3>Gestioná tus compras</h3>
                        <p>¡Siendo miembro de nuestro sitio, pueden seguir el envio de sus compras!</p>
                    </section>
                </article>
                <article class="article-descrip">
                    <i class="fas fa-cart-plus"></i>
                    <section class="">
                        <h3>Agregá productos a tu carrito</h3>
                        <p>¡Podés agregar productos a tu carrito para luego comprarlos y que lleguen todos juntos!</p>
                    </section>
                </article>
                <article class="article-descrip">
                    <i class="fas fa-heart"></i>
                    <section class="">
                        <h3>Lista de deseados</h3>
                        <p>¡Agrega ítems a tu lista de deseados para recibir notificaciones cuando estén en oferta!</p>
                    </section>
                </article>
            </section>
            <section id="main-section-container">
                <form action="/users/register" method="POST" enctype="multipart/form-data">
                <fieldset>
                    <legend>Crea tú cuenta</legend>
                    <label for="firstName">Nombre</label>
                    <% if (locals.errors && errors.firstName) { %>
                        <p class="errors"><%= errors.firstName.msg%></p>
                    <% } %>
                    <input type="text" id="firstName" name="firstName" class="info <%= locals.errors && errors.firstName ? 'form-input-error': null%>" value="<%= locals.userInfo? userInfo.firstName : null%>"> 

                    <label for="lastName">Apellido</label>
                    <% if (locals.errors && errors.lastName) { %>
                        <p class="errors"><%= errors.lastName.msg%></p>
                    <% } %>
                    <input type="text" id="lastName" name="lastName" class="info <%= locals.errors && errors.lastName ? 'form-input-error': null%>" value="<%= locals.userInfo? userInfo.lastName : null%>">

                    <label for="email">E-Mail</label>
                    <% if (locals.errors && errors.email) { %>
                        <p class="errors"><%= errors.email.msg%></p>
                    <% } %>
                    <input type="email" id="email" name="email" class="info <%= locals.errors && errors.email ? 'form-input-error': null%>" value="<%= locals.userInfo? userInfo.email : null%>">

                    <label for="username">Nombre de Usuario</label>
                    <% if (locals.errors && errors.username) { %>
                        <p class="errors"><%= errors.username.msg%></p>
                    <% } %>
                    <input type="text" id="username" name="username" class="info <%= locals.errors && errors.username ? 'form-input-error': null%>" value="<%= locals.userInfo? userInfo.username : null%>">

                    <label for="password">Contraseña</label>
                    <% if (locals.errors && errors.password) { %>
                        <p class="errors"><%= errors.password.msg%></p>
                    <% } %>
                    <input type="password" id="password" name="password" class="info <%= locals.errors && errors.password ? 'form-input-error': null%>" value="<%= locals.userInfo? userInfo.password : null%>">

                    <label for="passwordConfirm">Confirme su Contraseña</label>
                    <% if (locals.errors && errors.passwordConfirm) { %>
                        <p class="errors"><%= errors.passwordConfirm.msg%></p>
                    <% } %>
                    <input type="password" id="passwordConfirm" name="passwordConfirm" class="info <%= locals.errors && errors.passwordConfirm ? 'form-input-error': null%>">

                    <label for="avatar" id='avatar-upload'>Imagen de Perfil
                        <input type="file" name="avatar" id="avatar" class="info" accept="image/jpeg, image/png, image/jpg">
                    </label>
                    <% if (locals.errors && errors.avatar) { %>
                        <p class="errors"><%= errors.avatar.msg%></p>
                    <% } %>
                    
                    <button type="submit" id="button-submit">
                        Crear cuenta
                    </button>
                </fieldset>
                </form>
                <section id="redirect-section">
                    <h2>
                        ¿Ya tenés cuenta?
                    </h2>
                    <button type="button" id="button-link-redirect">
                        <a href="/users/login">Inicia Sesión</a>
                    </button>
                </section>
            </section>
        </section>
    </main>
    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
</body>
</html>