<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/users/profileMaintain.css">
    <title>Perfil</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header')  %>
    <main id="contenido">
        <figure>
            <img src="/uploads/users/<%= user.avatar %>" alt="profile-image">
        </figure>

        <section id="user-info">
            <h2><%= user.firstName + ' ' + user.lastName %></h2>

            <section>
                <ul>
                    <li>Nombre de usuario: <%= user.username %></li>
                    <li>Email: <%= user.email %></li>
                    <li><%= user.admin == 0 ? 'Usuario' : 'Admin' %></li>
                </ul>

                <form action="/users/logout" method="post">
                    <button type="submit" id="logout-button">Cerrar Sesión</button>
                </form>
            </section>
        </section>
    </main>

    <!-- FOOTER -->
    <%- include('../includes/footer')  %> 
</body>
</html>