<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/users/userList.css">
    <title>Perfil de Usuarios</title>
</head>
<body>
    <%- include('../includes/header') %>
    <main>
        <section id="contenido">
            <h1>Editá los datos de <%=user.firstName%>:</h1>
            <form action="/users/update/<%=user.id%>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
                <fieldset id="fieldset-small">
                    <legend>
                        <img src="/uploads/users/<%=user.avatar%>" alt="" id="avatar-user">
                    </legend>
                    <label for="firstName" class="edit-labels">Nombre:
                        <input type="text" name="firstName" id="firstName" class="container-user" value="<%=user.firstName%>">
                    </label>
                    <label for="lastName" class="edit-labels">Apellido:
                        <input type="text" name="lastName" id="lastName" class="container-user" value="<%=user.lastName%>">
                    </label>
                    <label for="username" class="edit-labels">Nombre de usuario:
                        <input type="text" name="username" id="username" class="container-user" value="<%=user.username%>">
                    </label>
                    <label for="email" class="edit-labels">Email:
                        <input type="email" name="email" id="email" class="container-user" value="<%=user.email%>">
                    </label>
                    <label for="avatar" class="edit-labels">Avatar:
                        <input type="file" name="avatar" id="avatar" accept="image/jpeg, image/png, image/jpg">
                    </label>
                    <button type="submit" id="button-submit">Editar</button>
                </fieldset>
            </form>
            <form action="/users/delete/<%=user.id %>?_method=DELETE" method="POST">
                <button type="submit" id="delete-button">Eliminar</button>
            </form>
        </section>
    </main>
    <%-include('../includes/footer') %> 
</body>
</html>