<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head')%>
    <% styles.forEach(style => { %>
        <link rel="stylesheet" href="/css/<%= style %> ">
    <% }) %>
    <link rel="stylesheet" href="/css/users/profileMaintain.css">
    <title>Perfil</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('../includes/header')  %>
    <main >
        <!-- CUERPO -->
        <section id="contenido">
            <figure>
                <img src="/uploads/users/<%= user.avatar %>" alt="profile-image">
            </figure>
            <section id="line-a"></section>
            <section id="user-info">
                <h2><%= user.firstName + ' ' + user.lastName %></h2>
                <article>
                    <ul>
                        <li>Nombre de usuario: <%= user.username %></li>
                        <li>Email: <%= user.email %></li>
                        <li>Tipo de user: <%= user.admin == 0 ? 'Usuario' : 'Admin' %></li>
                    </ul>
                </article>
                <section id="option-buttons">
                    <form action="/users/edit/<%=user.id%>" method="GET">
                        <button type="submit" id="option-one">Editar perfil</button>
                    </form>
                    <form action="/users/logout" method="POST">
                        <button type="submit" id="option-two">Cerrar Sesión</button>
                    </form>
                </section>
            </section>
            <section id="line-b"></section>
        </section>    
    </main>

    <!-- FOOTER -->
    <%- include('../includes/footer') %>
    <script src="/js/home.js"></script>
</body>
</html>